
  <div class="row">
<div class="col" >

<h3> Name: <b> {{studentIn.FirstName}} {{studentIn.LastName}}</b></h3>
<p>Age: <b> {{studentIn.Age}}</b> </p>
<p> Degree: <b>{{studentIn.Degree}} </b></p>
<p>Nationality: <b> {{studentIn.Nationality}}</b> </p>
<p>Gender: <b> {{studentIn.Gender}} </b></p>
<p>Status: <b> {{studentIn.Status}}</b> </p>
<p>Home Address: <b> {{studentIn.HomeAddress}}</b> </p>
<p>Elementary: <b> {{studentIn.Elementary}}</b> </p>
<p> High School: <b> {{studentIn.HighSchool}}</b> </p>
<p> College: <b> {{studentIn.College}}</b> </p>

<p ></p>

</div>
</div>
